.burgar {
  display: none;
  position: absolute;
  right: 5px;
  top: 19px;
  cursor: pointer;
}
.line {
  width: 33px;
  background-color: aqua;
  height: 4px;
  margin: 5px 3px;
}

@media (max-width: 1000px) {
  .navbar {
    height: 72px;
    background-color: rgba(245, 245, 245, 0);
    flex-direction: column;
  }
  .navlist {
    width: 100%;
    flex-direction: column;
  }
  .bar {
    text-align: center;
  }
  .burgar {
    display: block;
  }
 .v-class-resp {
    opacity: 0;
  }
  .h-class-resp {
    height: 72px;
  }
}

body {
  margin: 0px 0px;
  padding: 0px 0px;
  height: 290vh;
  width: 100%;
}
.navbar {
  display: flex;

  position: sticky;
  top: 0px;
  background-color: whitesmoke;
}
.navlist {
  display: flex;
  width: 82%;
  align-items: center;
  text-align: center;
  margin: 0px 0px 0px 4px;
  padding: 0px 0px;
  list-style: none;
}

.navbar ul li {
  margin: 1px 10px;
  padding: 20px 17px;
}
.navbar ul li a {
  font-size: 18px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.navbar ul li a:hover {
  color: rgb(19, 253, 90);
}

.bar {
  text-align: right;
  width: 100%;
  padding: 33px 0px;
  margin: 0px 0px;
  background-color: whitesmoke;
}

.search {
  width: 10vw;
  height: 33px;
  outline: none;
  border: none;
  border-radius: 8px;
}
/* .btn {
  height: 19px;
  text-align: left;
  width: 12%;
  outline: none;
} */






.name {
  text-align: center;
}
.name textarea {
  width: 70%;
  margin-top: 41px;
}
.btnn {
  display: inline-block;
  margin-right: 15px;
  margin-top: 5px;
  width: 20%;
  height: 30px;
  background-color: black;
  color: aliceblue;
  font-size: 17px;
}
.btnn2 {
  display: inline-block;
  margin-right: 300px;
  margin-top: 5px;
  width: 20%;
  height: 30px;
  background-color: black;
  color: aliceblue;
  font-size: 17px;
}
.heading{
  display: inline;
  position: absolute;
  top: 45px;
  left: 42%;
  margin-top: 12px;
}
.name h2 {
  width: 42%;
  margin-top: 30px;
}
.name p {
  width: 42%;
  margin-top: 30px;
}










